@{
    ViewBag.Title = "Home Page";
}

<section style="margin:50px 0px;">
    <div id="treeview" style="float:left;"></div>

    <div style="clear:both"></div>
</section>

<script src="~/Scripts/TreeHandler/treeHandler.js"></script>
